# docker-compose.yml
services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: go_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: taskdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U go_user -d taskdb" ]
      interval: 5s
      timeout: 5s
      retries: 10
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - ENV=production

volumes:
  postgres_data:
