# docker-compose.yml
services:
  postgres:
    image: postgres:16-alpine  
    container_name: postgres-db
    ports:
      - "5433:5432"  
    environment:
      POSTGRES_USER: go_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: taskdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U go_user -d taskdb"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: gin-api
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy 
    environment:
      - ENV=production
      - DB_HOST=postgres  

volumes:
  postgres_data: